#gameover {
  text-align: center;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

#gameover h2 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
}

#gameover p {
  color: #8435de;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

#gameover img {
  margin: 2rem;
  height: 300px;
}

#gameover button {
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  transition: all 0.8s ease-out;
  border: none;
  background: transparent;
  box-shadow: inset 0px 5px 10px 0px rgb(141, 2, 255);
  border-radius: 3rem;
}

#gameover button:hover {
  box-shadow: inset 0px 10px 20px 2px rgba(120, 2, 255, 0.842);
}


