#gameover {
  text-align: center;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

#gameover h2 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
}

#gameover p {
  color: #8435de;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

#gameover img {
  margin: 2rem;
  height: 300px;
}

#gameover button {
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  transition: all 0.8s ease-out;
  border: none;
  background: linear-gradient(
    90deg,
    rgb(134, 60, 219) 0%,
    rgb(185, 95, 226) 100%
  );
  border-radius: 3rem;
}

#gameover button:hover {
  background: linear-gradient(
    90deg,
    rgba(119, 0, 255, 0.753) 0%,
    rgb(174, 0, 255) 100%
  );
}


