#question {
  text-align: center;
  max-width: 635px;
  background: #8435de;
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 1rem;
  min-height: 500px;
  box-shadow: 6px 3px 15px 10px rgb(65 39 82 / 60%);
}

#question h2 {
  margin-bottom: 2rem;
}

#question p {
  margin-bottom: 1rem;
}

#question button {
  border: 2px solid #fff;
}

#question button {
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  transition: all 0.4s ease-out;
  border: 2px solid #fff;
  background: linear-gradient(
    90deg,
    rgb(134, 60, 219) 0%,
    rgb(185, 95, 226) 100%
  );
  border-radius: 3rem;
}

#question button:hover {
  background: linear-gradient(
    90deg,
    rgba(119, 0, 255, 0.753) 0%,
    rgb(174, 0, 255) 100%
  );
}

#question .btnreiniciar{
  background:transparent;
  border: 1px solid #d4d2d2;
  padding: 0.3rem 0.8em;
  font-size: 0.9rem;
  margin:1rem 0rem ;
}

#question .btnreiniciar:hover{
  background: rgb(89, 23, 212);
}